<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="icon" href="/favihat.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favihat.ico" type="image/x-icon">


  <style>
    body {
      background: linear-gradient(155deg, #0f2027, #203a43, #2c5364);    /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);   Space Grey Gradient */
      color: #ffffff;  /* White Text */
      margin: 0;
      font-family: 'Lato', sans-serif;
    }

    .section-intro, .section-research, .section-projects {
      padding: 30px;
    }

    a {
      color: #a0c4ff;  /* Light Blue for Links */
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    h1, h2 {
      color: #c1ffff;  /* Ensure Headers are White */
    }

    h3 {
      color: #f4b400;
    }
  </style>
</head>


<body>
  <div class="section-intro">
    <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tr style="padding:0px">
        <td style="padding:0px">
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr style="padding:0px">
              <td style="padding:2.5%;width:60%;vertical-align:middle">
                <h1>
                  Soumojit Bhattacharya
                </h1>
                <p>
    I am a student at the <a href="https://www.iitkgp.ac.in/">Indian Institute of Technology Kharagpur</a>, pursuing a B.Tech. in Electronics and Electrical Communication Engineering. My passion lies in robotics, with a strong interest in reinforcement learning, autonomous systems, and multi-agent collaboration. I actively engage in research to explore these domains further.
                </p>
                <p>
                    Currently, I am a research intern at the <a href="https://cambum.net/I3D.htm">I3D Lab</a>, Indian Institute of Science (IISc) Bangalore, where I work on tactile manipulation and reinforcement learning under the guidance of Professor Pradipta Biswas. I focus on designing RL pipelines and behavior cloning strategies for exploration tasks using tactile data.
                </p>
                <p>
                    I am also a core member of the Autonomous Ground Vehicle Group, IIT Kharagpur, under the mentorship of Professor Debashish Chakravarty. My contributions include SLAM, reinforcement learning modules, and control algorithms for autonomous vehicles.
                </p>
                <p>
                    I was previously a research intern at the <a href="https://www.sc.iitb.ac.in/robotics/"> ARMS Lab </a> , IIT Bombay, where I worked on path planning and decision-making for connected autonomous vehicles (CAVs) under Professor Arpita Sinha. I developed lane-change policies for connected autonomous vehicles (CAVs) in CARLA simulations, ensuring compliance with Responsibility-Sensitive Safety (RSS) rules for autonomous driving.
                </p>
                <p>
                  I am driven by a vision of a future where robots seamlessly integrate into society, contributing to universal well-being by addressing challenges in healthcare, disaster response, and autonomous navigation. I aspire to develop intelligent systems capable of handling dangerous and repetitive tasks, empowering humanity to focus on creativity, connection, and personal growth. My goal is to conduct impactful robotics research that advances adaptable and collaborative robotic agents, bringing this vision closer to reality.
                </p>
                <p style="text-align:center">
                <a target="_blank" href="mailto:soumojit048@kgpian.iitkgp.ac.in?"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/BabaYaga840">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?hl=en&user=UsWEJr8AAAAJ&view_op=list_works&gmla=AFix5MY9Aq_W8_Zz02R6IomXxZr621Uquj7uMfUcbTqYQ684xwbEM2Lynuf38QZ9sakmGEB9eAU4IN_GXXx4QjVZ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/soumojit-bhattacharya-49575b1b0/"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://github.com/BabaYaga840/BabaYaga840.github.io/blob/master/grad_CV.pdf"> CV </a>
              </p>
              </td>
              <td style="padding:2.5%;width:40%;max-width:40%">
                <img style="width:100%;max-width:100%" alt="profile photo" src="images/my_img.jpg">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div class="section-research">
    <table style="width:100%;">
      <tr>
        <td style="padding:2.5%;width:100%;vertical-align:middle">
          <h2>Research</h2>
<p>
    My research focuses on reinforcement learning, multi-agent systems, and robotic manipulation. I am particularly interested in developing robust learning algorithms that enable robots to adapt and collaborate in dynamic environments.  
</p>
<p>
    Currently, I am exploring tactile-based reinforcement learning for surface reconstruction and manipulation, as well as skill-based communication in multi-agent systems.
</p>
        </td>
      </tr>
    </table>

    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
  </div>

  <div class="section-projects">
    <table style="width:100%;">
      <tr>
        <td style="padding:2.5%;width:100%;">
          <h2>Other Projects</h2>
          <p>These include coursework, side projects, and unpublished research work.</p>
        </td>
      </tr>
    </table>

    <table style="width:100%;">
      {% for post in site.posts %}
      {% for cat in post.categories %}
      {% if cat != 'research' and cat != 'Intel' %}
      <tr>
        <td style="padding:2.5%;width:25%;vertical-align:middle;">
          <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
        </td>
        <td style="padding:2.5%;width:75%;vertical-align:middle">
          <h3>{{post.title}}</h3>
          <p>{{ post.excerpt }}</p>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endfor %}
      
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
    </table>
  </div>
</body>
